# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
.venv/
env/
.env
ENV/
env.bak/
venv.bak/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Frontend (Node.js / React / Vue)
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp
.pnp.js
coverage/

# Firebase & GCP
.firebase/
*firebase-debug.log
*.key.json
*.pem
credentials.json
gcp-service-account.json

# IDEs & OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

.history
