Flask==3.0.3
Flask-Cors==4.0.0
gunicorn==22.0.0
langchain==0.1.16
langchain-google-vertexai==1.0.3
google-cloud-firestore==2.15.0
google-cloud-storage==2.14.0
chromadb==0.4.24
langchain-chroma==0.1.0
